
#body{
    background-color: #e4ffdb;
}

#headerMain{
    text-align: center;
    background-color: #c4debc;
    width: 100%;
    margin: auto;
}

#homebutton {

    background-color: transparent;
    border: none;
}
#Sign{
    background-color: transparent;
    border: none;
}
